akonadi
autostart
baloofilerc
bluedevilglobalrc
dconf
dolphinrc
falkon
#fish
go
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
#i3
kactivitymanagerdrc
kactivitymanagerd-statsrc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kded6rc
kdedefaults
kdeglobals
kde.org
kglobalshortcutsrc
khotkeysrc
khtml
kminesrc
kmixctrlrc
kmixrc
konquerorrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib
libreoffice
libvirt
mimeapps.list
nvim
okularpartrc
okularrc
pavucontrol.ini
plasmarc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
plasma-welcomerc
#polybar
powermanagementprofilesrc
pulse
QtProject.conf
qtvirtualkeyboard
rofi
session
systemd
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vifm
#wezterm
xsettingsd
yay
baloofileinformationrc
chromium
donationmessage.notifyrc
kalarmrc
ktimezonedrc
kiorc
kservicemenurc
ktrashrc
